$main: #f8cb96;
$grey: #484847;
$headings: #383837;
$bg: #f9f8f7;
$secondary: #584d55;

$white: #fff;
$black: #000;

$success: #2ecc71;
$error: #EF3340;

$cubic: cubic-bezier(.25,.46,.45,.94);

$fw-normal: 400;
$fw-bold: 700;

/* Shadows */
$depth-1: 0 2px 3px rgba(50,50,93,.2), 0 1px 2px rgba(0,0,0,.1); // action
$depth-2: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08); // default
$depth-3: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08); // hover

/* Shadows Top */
$depth-1-u: 0 -2px 3px rgba(50,50,93,.2), 0 -1px 2px rgba(0,0,0,.1); // action
$depth-2-u: 0 -4px 6px rgba(50,50,93,.11), 0 -1px 3px rgba(0,0,0,.08); // default
$depth-3-u: 0 -7px 14px rgba(50,50,93,.1), 0 -3px 6px rgba(0,0,0,.08); // hover
