.main-nav {
	background: darken($bg, 5%);
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;

	.search {
		flex: 1;
		// margin-left: 1rem;
	}

	.mittwald {
		margin-left: 1rem;

		a {
			color: #ffaf50;
			font-weight: $fw-bold;
			text-decoration: none;
		}
	}
}
